<table style='margin-left:250px'>
  <tr>
    <td>Time comment default</td>
    <td>
      <input type="text" size=40 value="<%= settings['timecomment'] %>" name="settings[timecomment]" />
    </td>
  </tr>
  <tr>
    <td>Time activity default</td>
    <td>
      <select name='settings[timeactivity]'>
        <% TimeEntryActivity.all.each do |entry| %>
          <option value="<%= entry.id %>" <%= (entry.id.to_i == settings['timeactivity'].to_i) ? 'selected' : '' %> ><%= entry.name %></option>
        <% end %>
      </select>
    </td>
  </tr>
</table>
